_build/
*.automaton
*.conflicts
boot/menhir/*.ml*
.DS_Store
node_modules
package*.json
*.org
*.json


# dependencies
web/node_modules
web/.pnp
web/*.pnp.js

# production
web/build

web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
heifer.install

*.org
*.out
