/* Add your styles to customize the appearance of the navigation bar */

.navbar {
  position: sticky;
  top: 0%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1268d2;
  color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0px 5px 10px rgba(87, 86, 86, 0.5);
}

.title {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-right {
  font-size: 1.3rem;
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.nav-item {
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-left: 15px;
}

.nav-item:hover {
  text-decoration: underline;
}

/* Style for GitHub icon */
.nav-item svg {
  font-size: 1.5rem;
}

.space {
  height: 2px;
}
