name: Main workflow

on:
  pull_request:
  push:
    branches:
      - StagedSL
  schedule:
    # Prime the caches every Monday
    - cron: 0 1 * * MON

permissions:
  contents: write

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          # - macos-latest
          - ubuntu-latest
        ocaml-compiler:
          - 5.0.0

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          opam-pin: false
          opam-depext: false
      # - run: opam install . --deps-only
      # z3 takes a long time to build and isn't needed for the web build
      # - run: opam install menhir ppx_expect z3 brr js_of_ocaml-compiler
      - run: opam install dune menhir ppx_deriving ppx_expect brr js_of_ocaml-compiler unionFind visitors

      - uses: actions/setup-node@v3
        with:
          node-version: 19
      - run: npm install -g browserify
      - run: npm install z3-solver

      - run: eval $(opam env); dune build @web --profile release

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/StagedSL'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: _build/default/deploy
